body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    position: relative;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.content {
    position: relative;
}

.question-box {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    opacity: 0; /* Inicialmente oculto */
    animation: appear 1s ease forwards; /* Animación de aparición */
}

@keyframes appear {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.age-verification {
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    animation: bounce 2s infinite;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }
}
